<a href="https://colab.research.google.com/github/priyankaprakasan/Data-I-O-and-Preprocessing-with-Python-and-SQL/blob/main/DataPreprocessing_Module1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
url = "https://dlai-lc-dag.s3.us-east-2.amazonaws.com/countries_and_pet_population.html"

In [ ]:
pet_pop=pd.read_html(url)

In [ ]:
type(pet_pop)

list

In [ ]:
len(pet_pop)

1

In [ ]:
pet_pop[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country                  238 non-null    object
 1   Population 2022          238 non-null    int64
 2   Population 2023          238 non-null    int64
 3   Change %                 238 non-null    object
 4   Region                   238 non-null    object
 5   Official Language        191 non-null    object
 6   Dog Population           38 non-null     float64
 7   Cat Population           35 non-null     float64
 8   Bird Population          32 non-null     float64
 9   Aquaria Population       29 non-null     float64
 10  Small Mammal Population  29 non-null     float64
 11  Terraria Population      27 non-null     float64
dtypes: float64(6), int64(2), object(4)
memory usage: 22.4+ KB

In [ ]:
pet_pop_df=pet_pop[0]

In [ ]:
pet_pop_df.head()

,Country,Population 2022,Population 2023,Change %,Region,Official Language,Dog Population,Cat Population,Bird Population,Aquaria Population,Small Mammal Population,Terraria Population
0,World,8021407192,8091734930,+0.88%,WRLD - World,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,India,1425423212,1438069596,+0.89%,ASIA - South,"Hindi, English",10200000.0,NaN,NaN,NaN,NaN,NaN
2,China [a],1425179569,1422584933,-0.18%,ASIA - East,Standard Chinese,27400000.0,53100000.0,NaN,NaN,NaN,NaN
3,United States,341534046,343477335,+0.57%,AMER - North,English,69929000.0,74059000.0,8300000.0,NaN,NaN,NaN
4,Indonesia,278830529,281190067,+0.85%,ASIA - Southeast,Indonesian,NaN,NaN,NaN,NaN,NaN,NaN