In [ ]:
import pandas as pd

In [ ]:
url = "https://dlai-lc-dag.s3.us-east-2.amazonaws.com/countries_and_pet_population.html"

In [ ]:
pet_pop=pd.read_html(url)

In [ ]:
type(pet_pop)

list

In [ ]:
len(pet_pop)

1

In [ ]:
pet_pop[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country                  238 non-null    object
 1   Population 2022          238 non-null    int64
 2   Population 2023          238 non-null    int64
 3   Change %                 238 non-null    object
 4   Region                   238 non-null    object
 5   Official Language        191 non-null    object
 6   Dog Population           38 non-null     float64
 7   Cat Population           35 non-null     float64
 8   Bird Population          32 non-null     float64
 9   Aquaria Population       29 non-null     float64
 10  Small Mammal Population  29 non-null     float64
 11  Terraria Population      27 non-null     float64
dtypes: float64(6), int64(2), object(4)
memory usage: 22.4+ KB

In [ ]:
pet_pop_df=pet_pop[0]

In [ ]:
pet_pop_df.head()

,Country,Population 2022,Population 2023,Change %,Region,Official Language,Dog Population,Cat Population,Bird Population,Aquaria Population,Small Mammal Population,Terraria Population
0,World,8021407192,8091734930,+0.88%,WRLD - World,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,India,1425423212,1438069596,+0.89%,ASIA - South,"Hindi, English",10200000.0,NaN,NaN,NaN,NaN,NaN
2,China [a],1425179569,1422584933,-0.18%,ASIA - East,Standard Chinese,27400000.0,53100000.0,NaN,NaN,NaN,NaN
3,United States,341534046,343477335,+0.57%,AMER - North,English,69929000.0,74059000.0,8300000.0,NaN,NaN,NaN
4,Indonesia,278830529,281190067,+0.85%,ASIA - Southeast,Indonesian,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Dog Population
38/238

0.15966386554621848

In [ ]:
pet_pop_df['Change %'].mean()

TypeError: Could not convert string '+0.88%+0.89%-0.18%+0.57%+0.85%+1.56%+2.12%+0.40%+1.23%-0.10%+0.88%+2.64%-0.50%+0.81%+1.70%+3.31%+0.67%+1.21%+0.24%+0.55%-0.05%+0.74%+2.95%+0.24%+1.34%-0.20%+2.00%+0.70%+1.13%-0.07%+1.34%+2.84%+0.17%+1.51%+0.29%+2.28%+2.16%+3.06%+1.23%+0.98%-8.08%+1.03%+3.13%+2.04%+1.24%+1.11%+1.93%+3.00%+0.28%+2.49%+2.54%+0.84%+2.68%+0.31%+0.95%+0.34%+3.35%+3.02%+5.04%-0.44%+2.30%+0.60%+2.60%+2.83%+1.47%+0.54%+4.68%-0.25%+3.13%+1.55%+2.42%+1.05%+0.88%+1.29%+1.69%+2.49%+2.55%+2.22%+2.77%+1.38%+0.67%+0.61%+1.16%+4.19%+1.63%+0.90%-0.36%+1.28%+1.73%+3.91%+0.61%+0.13%+2.04%+1.83%+0.22%-1.63%-2.79%+2.36%+1.68%+0.73%-0.63%+0.89%+2.22%+1.40%-0.31%+1.86%+1.13%+1.69%+1.24%+1.38%-0.44%-0.27%+0.47%+2.45%+0.77%+2.46%-0.19%+0.57%+1.12%+0.82%+2.23%+1.96%+1.69%+0.80%+1.07%+0.47%+6.74%+3.01%+5.43%+1.32%-0.28%+0.33%+1.79%+1.36%-0.08%+0.03%-0.62%+0.89%+2.99%+2.54%+2.17%+1.32%+0.02%-0.56%+2.33%+2.22%+1.65%+1.11%+2.27%+0.15%+0.07%+2.44%-0.46%-1.04%+2.36%+0.47%+1.09%+1.27%+1.02%-0.20%+0.95%+1.39%+0.51%+0.38%+1.94%+0.57%+2.42%+0.70%+1.36%+1.80%+3.08%+0.92%+1.93%+0.90%+0.36%+0.50%+0.79%+2.08%+0.48%+1.89%-2.13%-0.99%+2.35%+3.52%+1.71%+0.96%-2.07%+0.26%+2.02%+0.65%+0.04%+0.28%+0.80%+1.58%+1.94%+0.14%+0.46%-0.42%+0.15%+0.18%-0.71%+0.51%-0.93%+0.04%+1.44%+2.02%-0.47%-0.08%+0.46%+1.69%+1.30%-1.70%+0.10%+0.77%-2.03%+1.45%+0.71%+1.74%+0.06%+2.29%-3.12%-1.05%+4.44%-4.69%-0.18%+1.62%-3.40%+0.63%-0.94%+1.51%-1.76%-0.89%-1.01%-0.74%-0.37%+4.67%-0.22%-1.78%' to numeric

In [ ]:
# Using .replace() method
# List of four most populated countries
countries = "India, China, United States, Indonesia"

countries.replace("United States", "USA")

'India, China, USA, Indonesia'

In [ ]:
"+0.88%".replace("%", "") # empty string represents nothing!

'+0.88'

In [ ]:
pet_pop_df['Change %']=pet_pop_df['Change %'].replace('%',"")

In [ ]:
pet_pop_df['Change %']

0      +0.88%
1      +0.89%
2      -0.18%
3      +0.57%
4      +0.85%
        ...
233    -0.74%
234    -0.37%
235    +4.67%
236    -0.22%
237    -1.78%
Name: Change %, Length: 238, dtype: object

In [ ]:
# the replace method used before is intended for replacing the entire string not a substring; to remove each value from the column use str.replace() fm pandas; str is an vectorized accessor
#that changes every value in a column all at once without needing a loop
pet_pop_df['Change %']=pet_pop_df['Change %'].str.replace('%',"")

In [ ]:
pet_pop_df['Change %'].head()

0    +0.88
1    +0.89
2    -0.18
3    +0.57
4    +0.85
Name: Change %, dtype: object

In [ ]:
pet_pop_df['Change %'].mean()

TypeError: Could not convert string '+0.88+0.89-0.18+0.57+0.85+1.56+2.12+0.40+1.23-0.10+0.88+2.64-0.50+0.81+1.70+3.31+0.67+1.21+0.24+0.55-0.05+0.74+2.95+0.24+1.34-0.20+2.00+0.70+1.13-0.07+1.34+2.84+0.17+1.51+0.29+2.28+2.16+3.06+1.23+0.98-8.08+1.03+3.13+2.04+1.24+1.11+1.93+3.00+0.28+2.49+2.54+0.84+2.68+0.31+0.95+0.34+3.35+3.02+5.04-0.44+2.30+0.60+2.60+2.83+1.47+0.54+4.68-0.25+3.13+1.55+2.42+1.05+0.88+1.29+1.69+2.49+2.55+2.22+2.77+1.38+0.67+0.61+1.16+4.19+1.63+0.90-0.36+1.28+1.73+3.91+0.61+0.13+2.04+1.83+0.22-1.63-2.79+2.36+1.68+0.73-0.63+0.89+2.22+1.40-0.31+1.86+1.13+1.69+1.24+1.38-0.44-0.27+0.47+2.45+0.77+2.46-0.19+0.57+1.12+0.82+2.23+1.96+1.69+0.80+1.07+0.47+6.74+3.01+5.43+1.32-0.28+0.33+1.79+1.36-0.08+0.03-0.62+0.89+2.99+2.54+2.17+1.32+0.02-0.56+2.33+2.22+1.65+1.11+2.27+0.15+0.07+2.44-0.46-1.04+2.36+0.47+1.09+1.27+1.02-0.20+0.95+1.39+0.51+0.38+1.94+0.57+2.42+0.70+1.36+1.80+3.08+0.92+1.93+0.90+0.36+0.50+0.79+2.08+0.48+1.89-2.13-0.99+2.35+3.52+1.71+0.96-2.07+0.26+2.02+0.65+0.04+0.28+0.80+1.58+1.94+0.14+0.46-0.42+0.15+0.18-0.71+0.51-0.93+0.04+1.44+2.02-0.47-0.08+0.46+1.69+1.30-1.70+0.10+0.77-2.03+1.45+0.71+1.74+0.06+2.29-3.12-1.05+4.44-4.69-0.18+1.62-3.40+0.63-0.94+1.51-1.76-0.89-1.01-0.74-0.37+4.67-0.22-1.78' to numeric

In [ ]:
pet_pop_df['Change %']=pet_pop_df['Change %'].astype("Float64") #special datatype which handles missing data

In [ ]:
pet_pop_df['Change %'].mean()

np.float64(1.0084873949579831)

In [ ]:
pet_pop_df.dtypes

Country                     object
Population 2022              int64
Population 2023              int64
Change %                   Float64
Region                      object
Official Language           object
Dog Population             float64
Cat Population             float64
Bird Population            float64
Aquaria Population         float64
Small Mammal Population    float64
Terraria Population        float64
dtype: object

In [ ]:

# Goal 1: Estimate how many volunteers are needed for the dog population; we can drop missing rows where dog population is NA
df_with_dogs = pet_pop_df.dropna(subset=["Dog Population"])

In [ ]:
df_with_dogs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38 entries, 1 to 157
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country                  38 non-null     object
 1   Population 2022          38 non-null     int64
 2   Population 2023          38 non-null     int64
 3   Change %                 38 non-null     Float64
 4   Region                   38 non-null     object
 5   Official Language        38 non-null     object
 6   Dog Population           38 non-null     float64
 7   Cat Population           35 non-null     float64
 8   Bird Population          31 non-null     float64
 9   Aquaria Population       29 non-null     float64
 10  Small Mammal Population  29 non-null     float64
 11  Terraria Population      27 non-null     float64
dtypes: Float64(1), float64(6), int64(2), object(3)
memory usage: 3.9+ KB

In [ ]:
# fill in missing values with reasonable guess - mean dogs per capita
pet_pop_df["dogs_per_capita"] = pet_pop_df["Dog Population"] / pet_pop_df["Population 2023"]

In [ ]:
pet_pop_df["dogs_per_capita"].describe()

count    38.000000
mean      0.137065
std       0.069887
min       0.007093
25%       0.099721
50%       0.128252
75%       0.183206
max       0.297817
Name: dogs_per_capita, dtype: float64

In [ ]:
pet_pop_df['Dog Population'].isnull().sum()

np.int64(200)

In [ ]:
df_with_dogs['Dog Population']=df_with_dogs['Dog Population'].fillna(pet_pop_df['Population 2023']*0.137065)

<ipython-input-32-5f5528d40347>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_with_dogs['Dog Population']=df_with_dogs['Dog Population'].fillna(pet_pop_df['Population 2023']*0.137065)

In [ ]:
df_with_dogs['Dog Population'].isnull().sum()

np.int64(0)

In [ ]:
# Checking Languages if official Languages are both English and German
pet_pop_df['English']=pet_pop_df['Official Language']=='English'

In [ ]:
pet_pop_df['English'].head()

0    False
1    False
2    False
3     True
4    False
Name: English, dtype: bool

In [ ]:
#in some contries eg: India speaks two languages; hence filter the condition with str.contains

pet_pop_df['English']=pet_pop_df['Official Language'].str.contains('English')

In [ ]:
pet_pop_df['English'].head()

0      NaN
1     True
2    False
3     True
4    False
Name: English, dtype: object

In [ ]:
# Filter the DS which only contains English speaking population
english_df=pet_pop_df[pet_pop_df['English']==True]

In [ ]:
english_df.head()

,Country,Population 2022,Population 2023,Change %,Region,Official Language,Dog Population,Cat Population,Bird Population,Aquaria Population,Small Mammal Population,Terraria Population,dogs_per_capita,English
1,India,1425423212,1438069596,0.89,ASIA - South,"Hindi, English",10200000.0,NaN,NaN,NaN,NaN,NaN,0.007093,True
3,United States,341534046,343477335,0.57,AMER - North,English,69929000.0,74059000.0,8300000.0,NaN,NaN,NaN,0.203591,True
5,Pakistan,243700667,247504495,1.56,ASIA - South,"Urdu, English",NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
6,Nigeria,223150896,227882945,2.12,AFRC - West,English,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
13,Philippines,113964338,114891199,0.81,ASIA - Southeast,"Filipino, English",11600000.0,NaN,NaN,NaN,NaN,NaN,0.100965,True

In [ ]:
# to check for cases to validate the filtering

pet_pop_df['Official Language'].str.contains('english').sum()

0

In [ ]:
pet_pop_df['Official Language'].str.contains('English').sum()

56

In [ ]:
pet_pop_df['Official Language'].str.contains('ENGLISH').sum()

0

In [ ]:
# otherwise add case=false
pet_pop_df['English']=pet_pop_df['Official Language'].str.contains('English',case=False)

In [ ]:
pet_pop_df['English'].sum()

56

In [ ]:
# Goal 2 : Identify the number of vetenary and medical workers needed for each country